@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap');

:root{
    /* FONTE */
    --fonte: "Stoke", serif;


    /* CORES */
    --branco: #fff;
    --preto: #000;
    --laranja: #E9431F;
    --vermelho: #A01313;

    --modal: #0B1718;

    --site-fundo: #040F11;

    --navbar-fundo: #071A1E;
    --navbar-sublinhado: #AD3131;

    --footer-gmail-hover: #DD0D00;
    --footer-whatsapp-hover: #04DD00;
    --footer-linkedin-hover: #0080DD;
    --footer-github-hover: #818181;
}
