#linhas-divisorias{
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 70px 0;
}

#linhas-divisorias > .linhas-extremos{
    width: 400px;
    height: 1.5px;
    background-color: #FFF;
}

#linhas-divisorias > #linha-meio{
    width: 220px;
    height: 1px;
    background-color: #FFF;
}

.linhas-x > .x1{
    width: 10px;
    height: 1px;
    transform: translateY(1px) rotate(45deg);;
    background-color: #FFF;
}

.linhas-x > .x2{
    width: 10px;
    height: 1px;
    transform: rotate(135deg);;
    background-color: #FFF;
}