main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 60px;
}

#sec-bem-vindo-text{
    width: 300px;
}

#sec-bem-vindo-text h1{
    margin-bottom: 20px;
    font-size: 60px;
    color: var(--site-titulo-subtitulo);
    font-weight: bold;
}

#sec-bem-vindo-text p{
    font-size: 25px;
    color: var(--site-paragrafo);
}

#sec-bem-vindo-text a{
    color: var(--main-bemvindo-link);
    text-decoration: none;
}

#sec-bem-vindo-text a:hover{
    text-decoration: underline;
}

#sec-bem-vindo-img img{
    width: 320px;
    height: 350px;
}