#sec-sobremim::before {
    content: '';
    display: block;
    height: 50px; /* Altura da margem desejada */
     /* Altura da margem desejada negativa */
    visibility: hidden;
}

/* Caixa vermelha */
#sobremim-container{
    width: 620px;
    margin-bottom: 90px;
    padding: 40px 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    border-radius: 20px;
    background-color: var(--sobremim-card);
}

/* Caixa do título */
#sec-sobremim h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid ;
    color: var(--site-paragrafo);
}

/* Caixa do parágrafo */
#sec-sobremim p{
    letter-spacing: 2px;
    line-height: 20px;
    text-align: justify;
    color: var(--site-paragrafo);
}



/* Media query */
@media screen and (max-width: 389px) {
    /* Caixa vermelha */
    #sobremim-container{
        width: 300px;
        padding: 20px 15px;
    }

    /* Caixa do parágrafo */
    #sec-sobremim p{
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Caixa vermelha */
    #sobremim-container{
        width: 350px;
    }

    /* Caixa do parágrafo */
    #sec-sobremim p{
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Caixa vermelha */
    #sobremim-container{
        width: 420px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    /* Caixa vermelha */
    #sobremim-container{
        width: 530px;
    }
}