#sec-habilidade{
    width: 700px;
    /* margin: 65px 0; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sec-habilidade::before {
    content: '';
    display: block;
    height: 50px; /* Altura da margem desejada */
     /* Altura da margem desejada negativa */
    visibility: hidden;
}

h1#hab-titulo{
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-titulo-subtitulo);
    border-bottom: 3px solid var(--main-titulo-subtitulo);
}

h2.hab-subtitulo{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-titulo-subtitulo);
}

div#hab-linguagens{
    display: flex;
    gap: 30px;
}

div#hab-linguagens div, #fram-prot > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hab-nome{
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--main-paragrafo);
}

img.hab-img{
    width: 80px;
    height: 70px;
}

#fram-prot{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 30px;
}

#figma{
    width: 50px;
    height: 70px;
}



/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {}
@media only screen and (min-width: 459px) and (max-width: 598px) {}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    #sec-habilidade{
        width: 100%;
    }

    div#hab-linguagens{
        display: flex;
    }

    #fram-prot{
        display: flex;
        gap: 150px;
        margin-top: 50px;
    }
}