main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 60px;
}

#sec-bem-vindo-text{
    width: 300px;
}

#sec-bem-vindo-text h1{
    margin-bottom: 20px;
    font-size: 60px;
    color: var(--site-titulo-subtitulo);
    font-weight: bold;
}

#sec-bem-vindo-text p{
    font-size: 25px;
    color: var(--site-paragrafo);
}

#sec-bem-vindo-text a{
    color: var(--main-bemvindo-link);
    text-decoration: none;
}

#sec-bem-vindo-text a:hover{
    text-decoration: underline;
}

#sec-bem-vindo-img img{
    cursor: pointer;
    width: 320px;
    height: 320px;
    border-radius: 20px;
    border: 3px solid rgba(229, 8, 8, 0.649);
    transition: .3s;
}

#sec-bem-vindo-img img:hover{
    transform: scale(1.1);
}



/* Media query */
@media screen and (max-width: 389px) {}
@media only screen and (min-width: 390px) and (max-width: 458px) {}
@media only screen and (min-width: 459px) and (max-width: 598px) {}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    .flex-container{
        gap: 20px;
    }
    
    #sec-bem-vindo-text{
        width: 270px;
    }
    
    #sec-bem-vindo-text h1{
        font-size: 50px;
    }
    
    #sec-bem-vindo-text p{
        font-size: 22px;
    }
    
    #sec-bem-vindo-img img{
        width: 230px;
        height: 230px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {
    .flex-container{
        gap: 60px;
    }
    
    #sec-bem-vindo-text{
        width: 300px;
    }
    
    #sec-bem-vindo-text h1{
        font-size: 60px;
    }
    
    #sec-bem-vindo-img img{
        width: 280px;
        height: 280px;
    }
}