@import url(../root.css);

/* Caixa da nav */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 35px 35px;
    border-bottom: 3px solid var(--navbar-sublinhado);
    background-color: var(--navbar-fundo);
}

/* Título da nav */
.nav-container h1{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-family: var(--fonte);
    color: var(--branco);
}

/* Menu hamburguer */
.abrir-menu-hamburguer{
    display: none;
    font-size: 50px;
    color: var(--branco);
}

.fechar-menu-hamburguer{
    display: none;
    font-size: 40px;
    color: var(--branco);
}

/* Lista da nav */
.nav-container ul{
    display: flex;
    align-items: center;
    gap: 40px;
    height: 110px;
}

.nav-container a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: var(--fonte);
    color: var(--branco);
    transition: .3s;
}

.nav-container a:hover{
    color:var(--laranja);
}



/* MEDIA QUERY */
@media screen and (max-width: 389px) {
    /* Caixa da nav */
    .nav-container{
        flex-direction: column;
        padding: 20px 0 0 0;
        border-radius: 0;
    }

    /* Caixa que contem Título + Menu hamburguer*/
    .nav-name-icon{
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* Menu hamburguer */
    .abrir-menu-hamburguer{
        display: block;
    }

    /* Lista da nav */
    .nav-container ul{
        display: none;
        height: 100%;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        border-top: 1px solid var(--branco);
        padding: 10px 0;
        background-color: var(--modal);
    }

    .nav-container ul li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav-container ul li:hover{
        background-color: var(--navbar-sublinhado);
    }

    .nav-container a:hover{
        color: var(--preto);
    }
}

@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Caixa da nav */
    .nav-container{
        flex-direction: column;
        padding: 20px 0 0 0;
        border-radius: 0;
    }

    /* Caixa que contem Título + Menu hamburguer*/
    .nav-name-icon{
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* Menu hamburguer */
    .abrir-menu-hamburguer{
        display: block;
    }

    /* Lista da nav */
    .nav-container ul{
        display: none;
        height: 100%;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        border-top: 1px solid var(--branco);
        padding: 10px 0;
        background-color: var(--modal);
    }

    .nav-container ul li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav-container ul li:hover{
        background-color: var(--navbar-sublinhado);
    }

    .nav-container a:hover{
        color: var(--preto);
    }
}

@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Caixa da nav */
    .nav-container{
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    /* Lista da nav */
    .nav-container ul{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 599px) and (max-width: 766px) {
    /* Caixa da nav */
    .nav-container{
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    /* Lista da nav */
    .nav-container ul{
        height: auto;
        display: flex;
        gap: 5px;
    }

    .nav-container a{
        padding: 10px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    /* Caixa da nav */
    .nav-container{
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    /* Lista da nav */
    .nav-container ul{
        height: auto;
    }
}